@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-2044837-jpeg.jpg") center center no-repeat;
  background-size: cover;
  width: 100vw;
  height: auto;
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 12pt;
  font-family: "Spartan";
  color: #2A293E;
}

.contact-us {
  background: #f8f4e5;
  padding: 50px 100px;
  border-top: 10px solid #f45702;
}

label, input, textarea {
  display: block;
  width: 100%;
  font-size: 12pt;
  line-height: 24pt;
  font-family: "Spartan";
}

input {
  margin-bottom: 24pt;
}

h3 {
  font-weight: normal;
  font-size: 10pt;
  line-height: 24pt;
  font-style: italic;
  margin: 0 0 0.5em 0;
}

span {
  font-size: 8pt;
}

em {
  color: #f45702;
  font-weight: bold;
}

input, textarea {
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background: #f8f4e5;
  padding-left: 5px;
  outline: none;
}

input:focus, textarea:focus {
  border: 1px solid #6bd4b1;
}

textarea {
  resize: none;
}

button {
  display: block;
  float: right;
  line-height: 24pt;
  padding: 0 20px;
  border: none;
  background: #f45702;
  color: white;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  border-bottom: 2px solid transparent;
  outline: none;
}
button:hover {
  background: inherit;
  color: #f45702;
  border-bottom: 2px solid #f45702;
}

::selection {
  background: #ffc7b8;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  border: 1px solid #6bd4b1;
  -webkit-text-fill-color: #2A293E;
  -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
  transition: background-color 5000s ease-in-out 0s;
}


.search-product{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-product form {
  width: 60%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-product form input {
  padding: 10px;
}

#errors {
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: red;
	float: right;
	width: 100%;
	font-size: 25px;
}

#success {
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: green;
	float: right;
	width: 100%;
	font-size: 25px;
}

.error-message{
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	padding: 5px;
	text-align: center;
}

.success-message{
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	padding: 5px;
	text-align: center;
}



.contact-us form input {
  width: 100%;
}

.contact-us{
  height: 90vh;
}

.food-container{
  margin-top: 30px;
}

.food-item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-decoration: none;
}

.food-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.food-item p {
  color: #000;
  font-size: 30px;
}

.food-item span {
  color: #000;
  font-size: 30px;
}

.food-item .footer{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  color: #000;
}

.hide{
  display: none;
}

.success{
  float: right;
  padding: 10px;
  width: auto;
  height: auto;
  color: green;
  font-size: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: absolute;
  top: 0;
  left: 0;
}

.error {
  float: right;
  padding: 10px;
  width: auto;
  height: auto;
  color: red;
  font-size: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: absolute;
  top: 0;
  left: 0;
}

