<nav>
    <div>
        <a href="/home">
            <img style="width: 70px;height: 70px;object-fit: contain;" src="./images/food4unique.png" alt="">
        </a>
        <a id="my_cart_link"  href="#"><i class="fa-solid fa-cart-shopping">
            <b id="cart_length"></b>
        </i></a>
        
        <label for="toogle-menu" class="toogle-close">
            <span></span>
        </label>
    </div>
    <ul>
        <li><a href="/food/egyptian%20food">EGYPIAN</a></li>
        <li><a href="/food/indonisian%20food">INONISIAN</a></li>
        <li><a href="/food/egyindo%20food">EGYINDO</a></li>
        <li><a href="/food/economical%20food">ECONOMICAL</a></li>
        <li><a href="/food/vip%20food">VIP</a></li>
        <li><a href="/food/best%20food">NEW</a></li>

        <li><a href="/food/bestsale%20food">BEST SALE</a></li>

        <li><a href="/aboutus">ABOUT </a></li>

        <li><a href="/contactus">CONTACT US </a></li>

        <li id="logout"><a  ><i class="fa-solid fa-right-from-bracket"></i> </a></li>

        <li><a id="fav_nav"  href="/favourites">MY FAVOURITES </a></li>

        <li id="login"><a href="/login">LOGIN </a></li>

        <li id="signup"><a href="/signup">SIGNUP</a></li>

    </ul>
</nav>