<section id="section1">


    <div style="width: 100%;" class="d-flex align-items-center">
        <input id="search-food-text" type="text" placeholder="Search Food By Name">
        <i id="search-btn" style="cursor: pointer;" class="fa-solid fa-arrow-right"></i>
    </div>

   

    <a style="text-decoration: underline;color: #000;font-size: 18px;margin-top: 10px;font-weight: bold;" href="/food">DISCOVER ALL</a>

    


</section>

<h1 style="text-align: center;text-decoration: underline;font-size: 60px;">CATEGORIES</h1>

<div class="categories container mt-5">
    <div class="row cat-con">
        
    </div>
</div>

