

<div class="form container hide" style="height: 130vh;overflow-y: scroll;">
    
    <div class="row" style="height: 100%;overflow-y: scroll;">
        
        <div class="col-md-12" style="display: flex;justify-content: center;align-items: center;height: auto;flex-direction: column;">
            <img style="width: 100px;height: 100px;object-fit: contain;margin-bottom: 20px;" src="./images/food4unique.png" alt="">
            <h1 data-lang="up_1" style="font-size: 40px;text-align: center;">YOU ARE ALMOST THERE</h1>
            <p data-lang="up_2" style="font-size:30px;text-align: center;margin-top: 15px;">JOIN US AND ENJOY THE FOOD</p>
            <small data-lang="up_3" style="font-size: 20px;text-align: center;margin-top: 15px;">WE'RE WAITING FOR YOUR ORDER</small>

            <div class="">
            
                <form style="display: flex;flex-direction: column;height: auto;overflow-y: scroll;">
                    <label data-lang="up_4" for="">
                        fullname
                    </label>
                    <input 
                    id="fullname"
                     type="text">
    
                     <label data-lang="up_5" for="">
                        email
                    </label>
    
                    <input 
                    id="email"
                    type="text">
                    
                    <label data-lang="up_6" for="">
                        password
                    </label>
                    <input 
                    id="password"
                    type="password">

                    <i id="showPass" style="cursor: pointer;" class="fa-solid fa-eye"></i>

                    <i style="cursor: pointer;" id="hidePass" class="fa-solid fa-eye-slash hide"></i>

                    <button data-lang="up_7" id="signup-btn">Signup</button>
                    <small><span data-lang="up_8">Have an account ?</span> <a data-lang="up_9" href="/loginpage">Login</a></small>
                </form>
            </div>

        </div>
        
        
      


    </div>

    <div style="position: absolute;top: 0;left: 50%;transform: translateX(-50%)" id="errors"></div>
    <div id="success" style="position: absolute;top: 0;left: 50%;transform: translateX(-50%);"></div>
</div>