

<div class="form container hide">
    
    <div class="row">
        
        <div class="col-md-6">
            <img style="width: 100px;height: 100px;object-fit: contain;" src="./images/food4unique.png" alt="">
            <h1 style="font-size: 40px;text-align: center;">YOU ARE ALMOST THERE</h1>
            <p style="font-size:30px;text-align: center;">JOIN US AND ENJOY THE FOOD</p>
            <small style="font-size: 20px;text-align: center;">WE'RE WAITING FOR YOUR ORDER</small>
        </div>
        
        
        <div class="col-md-6">
            
            <form>
                <input 
                id="fullname"
                placeholder="fullname" type="text">
                <input 
                id="email"
                placeholder="email" type="text">
                <input 
                id="password"
                placeholder="password" type="password">
                <button id="signup-btn">Signup</button>
                <small>Have an account ? <a href="/loginpage">Login</a></small>
            </form>
        </div>


    </div>

    <div id="errors"></div>
    <div id="success"></div>
</div>