<div class="contact-us" style="display: flex;flex-direction: column;height: 100vh;">
    <form action="#" style="height: auto;overflow-y: scroll;">



      <label data-lang="contact_7" for="orderId">YOUR FULL NAME</label>
      <input id="fullname" name="fullname" type="text" />

      <label data-lang="contact_8" for="orderId">YOUR EMAIL</label>
      <input id="email" name="email" type="email" />

      <label data-lang="contact_9" for="orderId">YOUR PHONE NUMBER</label>
      <input id="phone_number" name="phone_number" type="tel" />


      <label data-lang="contact_1" for="orderId">ORDER ID</label>
      <input id="orderId" name="orderId" type="text" />

      <label data-lang="contact_2" for="customerNote">HOW WE CAN HELP YOU?<em>&#x2a;</em></label>
      <textarea id="customerNote" name="customerNote" required="" rows="4"></textarea>
      <h3 data-lang="contact_3">
        Please provide all the information about your issue (not please give us correct name , email , phone number).
      </h3>

      <div style="display: flex;justify-content: center;align-items: center;flex-direction: column;gap: 10px;" class="">
        <button style="margin-top: 10px;margin-bottom: 10px;" data-lang="contact_10" id="fillauto">FILL MOST OF INFO AUTOMATICALLY</button>


        <button data-lang="contact_6" id="sendReport">SUBMIT</button>
      </div>
   

     

    </form>

    <p class="mt-5" style="text-align: center;font-size: 20px;">Or</p>

     <a data-lang="contact_4" style="text-align: center;font-size: 25px;color: #000;" href="https://wa.me/6282131727011">Whatsapp us</a>
     <small data-lang="contact_5" style="text-align: center;font-size: 18px;color: #000;">Before You Whatsapp us please keep your order id,we will ask you about before you apply your report</small>
  </div>