<div class="contact-us" style="display: flex;flex-direction: column;">
    <form action="#">
      <label data-lang="contact_1" for="orderId">ORDER ID</label>
      <input id="orderId" name="orderId" type="text" />

      <label data-lang="contact_2" for="customerNote">HOW WE CAN HELP YOU?<em>&#x2a;</em></label>
      <textarea id="customerNote" name="customerNote" required="" rows="4"></textarea>
      <h3 data-lang="contact_3">
        Please provide all the information about your issue.
      </h3>
     <button data-lang="contact_6" id="sendReport">SUBMIT</button>

     

    </form>

    <p style="text-align: center;font-size: 20px;">Or</p>

     <a data-lang="contact_4" style="text-align: center;font-size: 25px;color: #000;" href="https://wa.me/6282131727011">Whatsapp us</a>
     <small data-lang="contact_5" style="text-align: center;font-size: 18px;color: #000;">Before You Whatsapp us please keep your order id,we will ask you about before you apply your report</small>
  </div>