

<div class="container main hide">
  
    <!-- <div class="row" style="display: flex;flex-direction: column;gap: 20px;width: 100vw;height: auto;overflow-y: scroll;justify-content: center;"> -->
        <div>
            <img class="main-image" src="./landing/images/food4unique.png" alt="">
        </div>
        <div>
            <select style="outline: none;border: none;padding: 10px;display: flex;background-color: #000;color: #fff;font-size: 18px;margin-top: 20px;margin-bottom: 20px;" id="country-select">
                <option value="en">bahasa inggris</option>
                <option value="in">bahasa Indonesia</option>
            </select>
            <h1 data-lang="land_1" style="text-align: center;">JOIN US NOW</h1>
            <p data-lang="land_2" style="text-align: center;">DISCOVER & ORDER OUR FOOD</p>
            <p data-lang="land_3" style="text-align: center;">WE'LL NOT MAKE YOU HUNGRY</p>

            <small data-lang="land_6" style="text-align: center;margin-top: 10px;margin-bottom: 10px;">IF YOU ARE IN A HURRY , LET US AUTO CREATE ACCOUNT FOR YOU</small>

            <button id="auto_create_account" data-lang="land_7" style="outline: none;border: none;padding: 10px;" type="submit">
               CLICK HERE
            </button>

            <p style="text-align: center;margin-bottom: 20px;margin-top: 20px;">OR</p>

            <a data-lang="land_4" class="signup-btn" href="/signuppage" style="text-align: center;">CREATE AN ACCOUNT</a>


            <small data-lang="land_5" style="text-align: center;margin-top: 20px;">
                ONCE YOU CREATE YOUR ACCOUNT YOU CAN ORDER , EXPLORE AND MORE ..
            </small>
           

        </div>
    <!-- </div> -->
    <div id="success" style="position: absolute;top: 0;left: 50%;transform: translateX(-50%);"></div>
</div>