<div class="container main hide">
    <div class="row">
        <div class="col-md-6">
            <img class="main-image" src="./landing/images/food4unique.png" alt="">
        </div>
        <div class="col-md-6">
            <h1>JOIN US NOW</h1>
            <p>DISCOVER & ORDER OUR FOOD</p>
            <p>WE'LL NOT MAKE YOU HUNGRY</p>

            <a class="signup-btn" href="/signuppage">CREATE AN ACCOUNT</a>

            <p style="text-align: center;">CREATE ONCE & WE WILL NEVER ASK YOU AGAIN</p>

            <small style="text-align: center;">
                ONCE YOU CREATE YOUR ACCOUNT YOU CAN ORDER , EXPLORE AND MORE ..
            </small>
           

        </div>
    </div>
</div>