* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 10px;
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Roboto", sans-serif !important;
    font-weight: 400;
    font-style: normal;
  }
  
  a {
    text-decoration: none;
    outline: none;
    color: #333333;
  }
  
  li {
    list-style: none;
  }
  
  @keyframes hover {
    50% {
      transform: translateX(10px);
    }
  }
  .offcanvas-menu > label {
    top: 30px;
    left: 30px;
    position: fixed;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    z-index: 9999;
  }
  .offcanvas-menu label span,
  .offcanvas-menu label span::before,
  .offcanvas-menu label span::after {
    transition: background 0.3s, transform 0.3s;
  }
  .offcanvas-menu label span,
  .offcanvas-menu label span::before,
  .offcanvas-menu label span::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 40px;
    background: #b3b3b3;
  }
  .offcanvas-menu label span::before {
    transform: translateY(-12px);
  }
  .offcanvas-menu label span::after {
    transform: translateY(12px);
  }
  .offcanvas-menu nav {
    position: fixed;
    height: 100%;
    width: 350px;
    left: -350px;
    overflow: hidden;
    background: #fff;
    transition: 0.3s ease;
    padding: 40px 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .offcanvas-menu nav > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .offcanvas-menu nav > div a {
    font-size: 2.5rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    font-family: "Monoton", cursive;
    background: linear-gradient(-90deg, #49a4ed 30%, #3d00a9 110%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .offcanvas-menu nav > div a i {
    font-size: 4rem;
    background: linear-gradient(120deg, #49a4ed 30%, #3d00a9 110%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .offcanvas-menu nav > div label {
    width: 30px;
    height: 30px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .offcanvas-menu nav > div label span,
  .offcanvas-menu nav > div label span:before,
  .offcanvas-menu nav > div label span:after {
    background: #4d4d4d;
  }
  .offcanvas-menu nav > ul {
    margin-top: 30px;
    /* counter-reset: nav-link-count; */
  }
  .offcanvas-menu nav > ul li {
    cursor: pointer;
    padding: 10px 0;
    transform: translateX(-30px);
    opacity: 0;
    transition: 0.4s ease;
    /* counter-increment: nav-link-count; */
  }
  .offcanvas-menu nav > ul li a {
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: 400;
    color: #333333;
    display: block;
  }
  /* .offcanvas-menu nav > ul li a::after {
    content: " : " counter(nav-link-count);
  } */
  .offcanvas-menu nav > ul li:hover {
    animation: hover 0.5s;
  }
  .offcanvas-menu input[type=checkbox] {
    display: none;
  }
  .offcanvas-menu input[type=checkbox]:checked ~ label {
    opacity: 0;
    pointer-events: none;
  }
  .offcanvas-menu input[type=checkbox]:checked ~ nav {
    left: 0;
  }
  .offcanvas-menu input[type=checkbox]:checked ~ nav label span {
    background: transparent;
  }
  .offcanvas-menu input[type=checkbox]:checked ~ nav label span:before {
    transform: rotate(-45deg);
  }
  .offcanvas-menu input[type=checkbox]:checked ~ nav label span:after {
    transform: rotate(45deg);
  }
  .offcanvas-menu input[type=checkbox]:checked ~ nav label span:before,
  .offcanvas-menu input[type=checkbox]:checked ~ nav label span:after {
    transition-delay: 0.2s;
  }
  .offcanvas-menu input[type=checkbox]:checked ~ nav ul li {
    opacity: 1;
    transform: translateX(0px);
  }
  .offcanvas-menu input[type=checkbox]:checked ~ nav ul li:nth-child(1) {
    transition-delay: 0.1s;
  }
  .offcanvas-menu input[type=checkbox]:checked ~ nav ul li:nth-child(2) {
    transition-delay: 0.2s;
  }
  .offcanvas-menu input[type=checkbox]:checked ~ nav ul li:nth-child(3) {
    transition-delay: 0.3s;
  }
  .offcanvas-menu input[type=checkbox]:checked ~ nav ul li:nth-child(4) {
    transition-delay: 0.4s;
  }
  .offcanvas-menu input[type=checkbox]:checked ~ nav ul li:nth-child(5) {
    transition-delay: 0.5s;
  }
  .offcanvas-menu input[type=checkbox]:checked ~ nav ul li:nth-child(6) {
    transition-delay: 0.6s;
  }
  .offcanvas-menu input[type=checkbox]:checked ~ nav ul li:nth-child(7) {
    transition-delay: 0.7s;
  }


.hide {
    display: none;
}

.loader{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
}

.loader img {
	width: 300px;
	height: 300px;
	object-fit: contain;
}

/* start */

* {
  margin: 0;
  padding: 0;
}

.home {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-2044837-jpeg.jpg") center center no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 12pt;
  /* font-family: "Spartan"; */
  color: #2A293E;

}

.contact-us {
  background: #f8f4e5;
  padding: 50px 100px;
  border-top: 10px solid #f45702;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

label, input, textarea {
  display: block;
  width: 100%;
  font-size: 12pt;
  line-height: 24pt;
  /* font-family: "Spartan"; */
}

input {
  margin-bottom: 24pt;
}

h3 {
  font-weight: normal;
  font-size: 10pt;
  line-height: 24pt;
  font-style: italic;
  margin: 0 0 0.5em 0;
}

span {
  font-size: 8pt;
}

em {
  color: #f45702;
  font-weight: bold;
}

input, textarea {
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background: #f8f4e5;
  padding-left: 5px;
  outline: none;
  padding: 10px;
}

input:focus, textarea:focus {
  border: 1px solid #6bd4b1;
}

textarea {
  resize: none;
}

button {
  display: block;
  float: right;
  line-height: 24pt;
  padding: 0 20px;
  border: none;
  background: #f45702;
  color: white;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  border-bottom: 2px solid transparent;
  outline: none;
  padding: 10px;
  margin-top: 10px;
}
button:hover {
  background: inherit;
  color: #f45702;
  border-bottom: 2px solid #f45702;
}

::selection {
  background: #ffc7b8;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  border: 1px solid #6bd4b1;
  -webkit-text-fill-color: #2A293E;
  -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
  transition: background-color 5000s ease-in-out 0s;
}

#errors {
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: red;
	float: right;
	width: 100%;
	font-size: 25px;
}

#success {
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: green;
	float: right;
	width: 100%;
	font-size: 25px;
}

.error-message{
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	padding: 5px;
	text-align: center;
}

.success-message{
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	padding: 5px;
	text-align: center;
}

.success{
  float: right;
  padding: 10px;
  width: auto;
  height: auto;
  color: green;
  font-size: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: fixed;
}

.errors {
  float: right;
  padding: 10px;
  width: auto;
  height: auto;
  color: red;
  font-size: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: fixed;
}
