<div class="sec_4 mt-5">
   <div class="row" style="width: 100vw;">



      <div class="col-md-12 mt-5"
         style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
         <h1 data-lang="about_5" style="text-align: center;color: #000;font-size: 50px;">OUR MAIN IDEA?</h1>
         <p data-lang="about_6" style="text-align: center;color: #000;font-size: 35px;">
            TO PRESENT OUR CULTURES INTO FOOD THAT MIX THE TASTE OF THE INDONISIAN FOOD AND THE EGYPTIAN ONE IN ONE
            PLACE.
         </p>
      </div>
   </div>
</div>