<div class="sec_3 mt-5">
     <div class="row" style="width: 100vw;height: 100%;">
        

         <div class="col-md-12 mt-5" style="display: flex;justify-content: center;align-items: center;flex-direction: column;height: 100%;">
            <h1 data-lang="about_3" style="text-align: center;color: #000;font-size: 50px;">WHO WE ARE?</h1>
            <p data-lang="about_4" style="text-align: center;color: #000;font-size: 35px;">
                WE'RE A COUPLE FROM DIFFRENT CULTURES (AN INDONISIAN WIFE & AN EGYPTIAN HUSBAND) , 
                WE SHARE THE SAME LOVE OF FOOD , SO WE DECIDED TO SHARE THAT WITH YOU
            </p>
         </div>

       
     </div>
</div>