<div class="sec_2 mt-5 container">
     <div class="row" style="width: 100vw;">
         <div class="col-md-12" style="width: 100%;display: flex;justify-content: center;align-items: center;flex-direction: column;">
             <h1 data-lang="about_2" style="text-align: center;font-size: 44px;">,, FOOD IS SYMBOLIC OF LOVE WHEN WORDS ARE INADEQUATE ,,</h1>
             <small data-lang="brand_quote" style="text-align: center;width: 100%;font-size: 24px;">~FOOD4UNIQUE</small>
         </div>
     </div>
</div>